.posts-container {
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .post {
    display: flex;
  }

  .post-no {
    width: 7%;
    color: green;
  }

  .post-title {
    width: 93%;
    text-decoration: none;
    color: black;

    &:hover {
      color: #B0B0B0;
    }
  }
}